.env
.venv
log/
results/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
coverage/
htmlcov/
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.pyright/
.cache/ 